<h1>{{title}}</h1>

<!-- CREATE Button -->
<a href="/wishlist/add" class="btn btn-primary mb-3">Add a new destination</a>

<!-- CRUD Functionality - Display Wishlist Items -->
<div class="row">
  {{!-- Loop through each wishlist item and display in a card layout --}}
  {{#each dataset}}
    <div class="col-md-4 mb-3">
      <div class="card" style="width: 100%;">
        <!--<img src="/uploads/{{this.image}}" class="card-img-top" alt="Image of {{this.destination}}">-->
        <div class="card-body">
          <h5 class="card-title">{{this.destination}}</h5>
          <p class="card-text"><strong>Story:</strong> {{this.story}}</p>
          <p class="card-text"><strong>Date:</strong> {{this.date}}</p>
          <p class="card-text"><strong>Status:</strong> {{#if this.status}}Completed{{else}}To-Do{{/if}}</p>

          <!-- UPDATE and DELETE buttons -->
          <a href="/wishlist/edit/{{this._id}}" class="btn btn-warning">Edit</a>
          <a href="/wishlist/delete/{{this._id}}"
                    onclick="return confirmDeletion()"
                    class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>


